.blue {
  background-color: DodgerBlue;
  padding: 20px;
  color: white;
  font-size: 1.25em;
  font-weight: lighter;
}

h3 {
  color: #333;
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto", "Helvetica", sans-serif;
  margin-top: 10px;
  margin-bottom: 8px;
}

.blue h3 {
  font-size: 1.75em;
  color: white;
  font-weight: lighter;
}

h2 {
  color: #003852;
  font-size: 24px;
  font-weight: 300;
  font-family: "Roboto", "Helvetica", sans-serif;
  margin-top: 20px;
  margin-bottom: 11px;
}

.blue h1, .blue h2 {
  font-size: 2em;
  color: white;
  font-weight: lighter;
}

.newsletter-form {
  margin-left: 20px;
  margin-bottom: 20px;
  float: right;
}

.newsletter-form input {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  border: none;
  width: 300px;
  padding: 10px;
  font-size: 1em;
}